In [ ]:
# Heroes of Pymoli Pandas Challenge
## Written by Jason Gabunilas

In [ ]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [ ]:
# Use the .unique() method on the "SN" array within the purchase_data dataframe to create an array of unique player names
players_series = purchase_data["SN"].unique()
# The number of players is equal to the length of players_series
total_players = len(players_series)
# Create a data frame to report the total number of players
total_players_df = pd.DataFrame({"Total Players" : [total_players]})
total_players_df

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
## Calculate the necessary values
# The number of unique items can be found by running the .unique() method on the Item Name or Item ID series
unique_items = len(purchase_data["Item ID"].unique())

# The average purchase price can be calculated using the mean() method. Then format the resulting value
avg_purchase_price = purchase_data["Price"].mean()
avg_purchase_price = "${:,.2f}".format(avg_purchase_price)


# The number of purchases is equal to the length of the Purcahse ID series
total_purchases = len(purchase_data["Purchase ID"])

# Total revenue is calculated by summing the prices from all of the purchases
total_revenue = purchase_data["Price"].sum()
total_revenue = "${:,.2f}".format(total_revenue)

# Collect all values in a data table
purchasing_total_df = pd.DataFrame({"Number of Unique Items" : [unique_items], 
"Average Price" : [avg_purchase_price], 
"Number of Purchases" : [total_purchases], 
"Total Revenue" : [total_revenue]
})
purchasing_total_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [129]:
# First, since some players made multiple purchases, edit the dataframe so that each unique player only appears once. This is accomplished using the drop_duplicates method, targeting the "SN" column specifically
unique_players_data = purchase_data.drop_duplicates("SN")

# Next Count the number of players of all genders by using the value_counts() method.
gender_demog = unique_players_data["Gender"].value_counts()
# Rename the series as "Total Count" using the rename() method
gender_demog = gender_demog.rename("Total Count")

# To calculate percentages, divide the total number of players from each gender by the total number of overall players. Multiply by 100 to get the percentage, which we will format later on
gender_demog_percent = (gender_demog / total_players) * 100
# Rename the series as "Percentage of Players" so that it the column header populates as such when merged
gender_demog_percent = gender_demog_percent.rename("Percentage of Players")


# Combine data in a dataframe using the concat() method, passing in the series for the gender counts
gender_demog_df = pd.concat([gender_demog, gender_demog_percent], axis = 1)
# Format the "Percentage of Players" column to two decimal places and add a % sign 
gender_demog_df_formatted = gender_demog_df.style.format({"Percentage of Players" : "{:.2f}%"})
gender_demog_df_formatted
# gender_demog_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame