In [1]:
# Heroes of Pymoli Pandas Challenge
## Written by Jason Gabunilas

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
# Use the .unique() method on the "SN" array within the purchase_data dataframe to create an array of unique player names
players_series = purchase_data["SN"].unique()

# The number of players is equal to the length of players_series
total_players = len(players_series)

# Create a data frame to report the total number of players
total_players_df = pd.DataFrame({"Total Players" : [total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
## Calculate the necessary values
# The number of unique items can be found by running the .unique() method on the Item Name or Item ID series
unique_items = len(purchase_data["Item ID"].unique())

# The average purchase price can be calculated using the mean() method. Then format the resulting value
avg_purchase_price = purchase_data["Price"].mean()
avg_purchase_price = "${:,.2f}".format(avg_purchase_price)


# The number of purchases is equal to the length of the Purcahse ID series
total_purchases = len(purchase_data["Purchase ID"])

# Total revenue is calculated by summing the prices from all of the purchases
total_revenue = purchase_data["Price"].sum()
total_revenue = "${:,.2f}".format(total_revenue)

# Collect all values in a data table
purchasing_total_df = pd.DataFrame({"Number of Unique Items" : [unique_items], 
"Average Price" : [avg_purchase_price], 
"Number of Purchases" : [total_purchases], 
"Total Revenue" : [total_revenue]
})
purchasing_total_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# First, since some players made multiple purchases, edit the dataframe so that each unique player only appears once. This is accomplished using the drop_duplicates method, targeting the "SN" column specifically
unique_players_data = purchase_data.drop_duplicates("SN")

# Next Count the number of players of all genders by using the value_counts() method.
gender_demog = unique_players_data["Gender"].value_counts()
# Rename the series as "Total Count" using the rename() method
gender_demog = gender_demog.rename("Total Count")

# To calculate percentages, divide the total number of players from each gender by the total number of overall players. Multiply by 100 to get the percentage, which we will format later on
gender_demog_percent = (gender_demog / total_players) * 100
# Rename the series as "Percentage of Players" so that it the column header populates as such when merged
gender_demog_percent = gender_demog_percent.rename("Percentage of Players")


# Combine data in a dataframe using the concat() method, passing in the series for the gender counts
gender_demog_df = pd.concat([gender_demog, gender_demog_percent], axis = 1)
# Format the "Percentage of Players" column to two decimal places and add a % sign 
gender_demog_df_formatted = gender_demog_df.style.format({"Percentage of Players" : "{:.2f}%"})
gender_demog_df_formatted
# gender_demog_df


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Use the groupby() method to perform a count of purchases by gender, then select a column from the resulting dataframe
purchase_count = purchase_data.groupby("Gender").count()["Purchase ID"]
# Rename the column (series) as Purchase Count
purchase_count = purchase_count.rename("Purchase Count")

# Use a similar approach to calculate average purchase price, total purchase value, and average purchase per person by gender, and format appropriately
avg_price_by_gender = purchase_data.groupby("Gender")["Price"].mean()
avg_price_by_gender = avg_price_by_gender.rename("Average Purchase Price")
avg_price_by_gender_formatted = avg_price_by_gender.map("${:.2f}".format)

total_purchase_value_by_gender = purchase_data.groupby("Gender")["Price"].sum()
total_purchase_value_by_gender = total_purchase_value_by_gender.rename("Total Purchase Value")
total_purchase_value_by_gender_formatted = total_purchase_value_by_gender.map("${:.2f}".format)

# Some players made more than one purchase, so we need to make sure they are not counted multiple times for the calculation for average total purchase per person. To account for this, use the previous gender_demog series (which counted the number of unique players per  gender) to calculate this value.
avg_total_per_person_gendered = total_purchase_value_by_gender / gender_demog
avg_total_per_person_gendered = avg_total_per_person_gendered.rename("Avg Total Purchase Per Person")
avg_total_per_person_gendered_formatted = avg_total_per_person_gendered.map("${:.2f}".format)

# Collect current data into a dataframe
purchase_data_gendered = pd.DataFrame({
"Purchase Count" : purchase_count, 
"Average Purchase Price" : avg_price_by_gender_formatted, 
"Total Purchase Value" : total_purchase_value_by_gender_formatted, 
"Avg Total Purchase Per Person" : avg_total_per_person_gendered_formatted
})
purchase_data_gendered

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
# Establish bins and bin player ages, adding the resulting age label to the dataframe. Note that these bins were selected according to the example given in the starter file. Remember that bins are right-inclusive by default
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
bin_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
unique_players_data["Age Range"] = pd.cut(unique_players_data["Age"], bins, labels = bin_labels)

# Calculate number of players in each bin by using the groupby() method on Age Range, perform the count() function on groupby, and, pick an arbitrary column to count the bin membership. Calculate percent of players in each bin. Format and combine into a dataframe
ages_count = unique_players_data.groupby("Age Range").count()["SN"]
ages_percent = ages_count / total_players
ages_demog_df = pd.DataFrame({"Total Count" : ages_count, "Percentage of Players" : (ages_percent * 100).map("{:.2f}%".format)})
ages_demog_df

C:\Users\Jason\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# Bin purchase_data by age
purchase_data["Age Range"] =  pd.cut(purchase_data["Age"], bins, labels = bin_labels)
purchase_data

# create a groupby variable for age range
grouped_agerange = purchase_data.groupby("Age Range")

# calculate purchase count for each age range and save into a pandas array
purchase_count_age = grouped_agerange.count()["Purchase ID"]

# calculate average purchase price for each age range and save into a pandas array
avg_purchase_price_age = grouped_agerange["Price"].mean()

# Calculate total purchase value for each age range and save into a pandas array
total_purchase_value_age = grouped_agerange["Price"].sum()

# calculate total purchase per person by dividing the age-binned total purchase values by the total count of players in each age range
avg_purchase_per_person_by_age = total_purchase_value_age / ages_count

# format variables for display in dataframe
avg_purchase_price_age_formatted = avg_purchase_price_age.map("${:.2f}".format)
total_purchase_value_age_formatted = total_purchase_value_age.map("${:.2f}".format)
avg_purchase_per_person_by_age_formatted = avg_purchase_per_person_by_age.map("${:.2f}".format)

# construct the data frame
purchase_analysis_age_df = pd.DataFrame({"Purchase Count" : purchase_count_age,
                                        "Average Purchase Price" : avg_purchase_price_age_formatted,
                                        "Total Purchase Value" : total_purchase_value_age_formatted,
                                        "Avg Total Purchase per Person" : avg_purchase_per_person_by_age_formatted})
purchase_analysis_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# group the purchase_data dataframe by SN, then perform a sum on the price to determine the total amount of money each player spent. Sort the resulting series in descending order
purchases_by_SN = purchase_data.groupby("SN")["Price"].sum()
purchases_by_SN.sort_values(ascending = False, inplace = True)

# slice the top 5 rows of the sorted purchases_by_SN series (which will give you the top 5 spenders) and format for display
top_5_total_purchases = purchases_by_SN.iloc[0:5]
top_5_total_purchases_formatted = top_5_total_purchases.map("${:.2f}".format)

# access the index of the top 5 purchases series so that we can have access to the SNs of those spenders. Save this as a list that we will use to pull rows from the original dataframe
top_5_spenders = top_5_total_purchases.index


# index the original purchase_data dataframe by SN, so that we can subset the rows by SN
purchase_data_SN_indexed = purchase_data.set_index("SN")
# pull only the rows whose SNs correspond to those in the top_5_spenders list and save it as a new dataframe
purchase_data_top_5 = purchase_data_SN_indexed.loc[top_5_spenders]


# Calculate the purchase count for these individuals
top_5_purchase_count = purchase_data_top_5.groupby("SN").count()["Purchase ID"]

# Calculate the average purchase price for these individuals by dividing  and format for display
avg_purchase_price_top_5 = top_5_total_purchases / top_5_purchase_count
avg_purchase_price_top_5_formatted = avg_purchase_price_top_5.map("${:.2f}".format)

# Collect everything into a dataframe, then sort the dataframe by Total Purchase Value in descending order
top_5_spenders_df = pd.DataFrame({"Purchase Count" : top_5_purchase_count,
                                 "Average Purchase Price" : avg_purchase_price_top_5_formatted,
                                 "Total Purchase Value" : top_5_total_purchases_formatted})

top_5_spenders_df.sort_values("Total Purchase Value", inplace = True, ascending = False)
top_5_spenders_df

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame